<h1> About us...</h1>

<p>

<%= @about_me %>

</p>

<p>
2 + 2 = <%= @answer %>
</p>

<p>



<%# 
Essa formad e baixo é um jeito de fazer calculo em ruby sem ser no controler e usar
 %>
<% answers = 3 + 2 %>

<%= answers %>


</p>
